* {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.css-imagenes, .imagenes-gato-1 img, .imagenes-gato-2 img, .imagenes-perro-1 img, .imagenes-perro-2 img, .imagenes-tortuga-1 img, .imagenes-tortuga-2 img, .seccion-gatos .grilla-gatos img, .imagenes-perro-3 img, .imagenes-perro-4 img, .imagenes-perro-5 img {
  display: flex;
  margin: 10px;
  height: 250px;
  padding: 10px;
  align-content: center; }

.css-imagenes-responsive {
  display: flex;
  margin: 10px;
  height: 150px;
  padding: 10px;
  align-content: center; }

@keyframes zoom-in-out {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }

.navegacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9e1c5; }
  .navegacion img {
    height: 100px; }
  .navegacion ul {
    list-style: none;
    display: flex;
    width: 300px;
    justify-content: center; }
    .navegacion ul li {
      margin: 0 10px;
      height: 20px; }
      .navegacion ul li a {
        text-decoration: none;
        color: black; }
        .navegacion ul li a:hover {
          color: white; }

@media (max-width: 540px) {
  .navegacion img {
    width: 80vw; }
  .navegacion ul {
    flex-wrap: wrap; } }

.div-tp {
  width: 100%;
  background-color: beige; }
  .div-tp .texto-principal {
    font-size: 30px;
    text-align: center;
    margin: auto;
    padding: 5px;
    width: auto; }

.descripcion-seccion {
  font-size: 20px;
  text-align: center;
  background-color: cadetblue;
  color: white;
  margin: auto;
  padding: 7px; }

.texto-secundario {
  font-size: 20px;
  text-align: center;
  font-size: 30px;
  margin: auto;
  padding: 7px;
  color: #efc494; }

.seccion1 .div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap; }
  .seccion1 .div article {
    display: flex;
    flex-direction: column; }
  .seccion1 .div p {
    text-align: center;
    font-size: 20px;
    color: #a9a6a6;
    margin: auto;
    padding: 10px 50px 20px 50px; }

.gato-texto-1 {
  display: flex;
  align-items: center; }
  .gato-texto-1 img {
    margin-right: 10px; }

/* Estilos seccion1 */
.seccion1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "imagenes-gato-1 imagenes-gato-2" "imagenes-perro-1 imagenes-perro-2" "imagenes-tortuga-1 imagenes-tortuga-2"; }

.imagenes-perro-1 {
  grid-area: imagenes-perro-1; }

.imagenes-perro-2 {
  grid-area: imagenes-perro-2; }

.imagenes-gato-1 {
  grid-area: imagenes-gato-1; }

.imagenes-gato-2 {
  grid-area: imagenes-gato-2; }

.imagenes-tortuga-1 {
  grid-area: imagenes-tortuga-1; }

.imagenes-tortuga-2 {
  grid-area: imagenes-tortuga-2; }

/* Estrategia Responsive = Mobile Last */
@media (max-width: 835px) {
  .seccion1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "imagenes-gato-1" "imagenes-gato-2" "imagenes-perro-1" "imagenes-perro-2" "imagenes-tortuga-1" "imagenes-tortuga-2"; } }

@media (max-width: 520px) {
  .seccion1 .div .imagenes-gato-1 img {
    display: flex;
    margin: 10px;
    height: 150px;
    padding: 10px;
    align-content: center; }
  .seccion1 .div .imagenes-gato-2 img {
    display: flex;
    margin: 10px;
    height: 150px;
    padding: 10px;
    align-content: center; }
  .seccion1 .div .imagenes-perro-1 img {
    display: flex;
    margin: 10px;
    height: 150px;
    padding: 10px;
    align-content: center; }
  .seccion1 .div .imagenes-perro-2 img {
    display: flex;
    margin: 10px;
    height: 150px;
    padding: 10px;
    align-content: center; }
  .seccion1 .div .imagenes-tortuga-1 img {
    display: flex;
    margin: 10px;
    height: 150px;
    padding: 10px;
    align-content: center; }
  .seccion1 .div .imagenes-tortuga-2 img {
    display: flex;
    margin: 10px;
    height: 150px;
    padding: 10px;
    align-content: center; } }

.cuidado div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .cuidado div .cuidado-animal {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .cuidado div .cuidado-animal h2 {
      margin: auto;
      padding: 7px;
      text-align: center;
      font-size: 30px;
      color: #efc494; }
    .cuidado div .cuidado-animal img {
      display: flex;
      flex-direction: column;
      margin: 10px;
      height: 250px;
      padding: 10px;
      align-content: center; }
  .cuidado div p {
    text-align: center;
    font-size: 18px;
    color: #443636;
    margin: auto;
    background-color: burlywood;
    padding: 10px 50px 20px 50px; }

.block {
  width: 200px;
  height: 100px;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000; }
  .block .text-space {
    height: 50px;
    width: 100%; }

.links-paginas {
  display: flex;
  justify-content: space-evenly; }
  .links-paginas .button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 54px;
    background-color: rgba(109, 158, 70, 0.592);
    color: white;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease; }
    .links-paginas .button a {
      text-decoration: none;
      color: green;
      font-size: 30px;
      margin: auto;
      padding: 5px; }
    .links-paginas .button:hover {
      background-color: rgba(85, 123, 54, 0.592); }
    .links-paginas .button:focus {
      outline: none; }

h3 {
  background-color: greenyellow;
  text-align: center;
  margin: auto;
  padding: 5px; }

@media (max-width: 540px) {
  .links-paginas {
    display: flex;
    flex-direction: column; } }

/* Footer */
.footer {
  background-color: blanchedalmond;
  display: flex;
  justify-content: center; }

.tp-gato {
  font-size: 30px;
  text-align: center;
  margin: auto;
  padding: 5px;
  width: auto;
  background-color: cadetblue; }

.grilla-gatos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "div-gato-1 div-gato-2 div-gato-3" "div-gato-4 div-gato-5 div-gato-6"; }

.div-gato-1 {
  grid-area: div-gato-1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.div-gato-2 {
  grid-area: div-gato-2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.div-gato-3 {
  grid-area: div-gato-3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.div-gato-4 {
  grid-area: div-gato-4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.div-gato-5 {
  grid-area: div-gato-5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.div-gato-6 {
  grid-area: div-gato-6;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.seccion-gatos .grilla-gatos p {
  text-align: center;
  font-size: 20px;
  color: #a9a6a6;
  margin: auto;
  padding: 10px 50px 20px 50px; }

/* Estrategia Responsive = Mobile Last */
@media (max-width: 890px) {
  .grilla-gatos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "div-gato-1 div-gato-2" "div-gato-3 div-gato-4" "div-gato-5 div-gato-6"; } }

@media (max-width: 620px) {
  .grilla-gatos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "div-gato-1"  "div-gato-2" "div-gato-3"  "div-gato-4" "div-gato-5"  "div-gato-6"; }
    .grilla-gatos img {
      display: flex;
      margin: 10px;
      height: 150px;
      padding: 10px;
      align-content: center; }
  .cuidado img {
    display: flex;
    margin: 10px;
    height: 70vw;
    padding: 10px;
    align-content: center; } }

.seccion-perros div {
  display: flex;
  align-items: center; }

.seccion-perros p {
  text-align: center;
  font-size: 20px;
  color: #a9a6a6; }

.seccion-perros {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "imagenes-perro-1" "imagenes-perro-2" "imagenes-perro-3" "imagenes-perro-4" "imagenes-perro-5"; }

.imagenes-perro-1 {
  grid-area: imagenes-perro-1; }

.imagenes-perro-2 {
  grid-area: imagenes-perro-2; }

.imagenes-perro-3 {
  grid-area: imagenes-perro-3; }

.imagenes-perro-4 {
  grid-area: imagenes-perro-4; }

.imagenes-perro-5 {
  grid-area: imagenes-perro-5; }

/* Estrategia Responsive = Mobile First */
@media (min-width: 1110px) {
  .seccion-perros {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "imagenes-perro-1 imagenes-perro-2 imagenes-perro-3" "imagenes-perro-1 imagenes-perro-4 imagenes-perro-5"; } }

.seccion-tortugas div {
  display: flex;
  align-items: center; }

.seccion-tortugas p {
  text-align: center;
  font-size: 20px;
  color: #a9a6a6; }

.seccion-tortugas {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "imagenes-tortuga-1" "imagenes-tortuga-2" "imagenes-tortuga-3" "imagenes-tortuga-4" "imagenes-tortuga-5"; }

.imagenes-tortuga-1 {
  grid-area: imagenes-tortuga-1; }

.imagenes-tortuga-2 {
  grid-area: imagenes-tortuga-2; }

.imagenes-tortuga-3 {
  grid-area: imagenes-tortuga-3; }

.imagenes-tortuga-4 {
  grid-area: imagenes-tortuga-4; }

.imagenes-tortuga-5 {
  grid-area: imagenes-tortuga-5; }

.imagenes-tortuga-3 img {
  display: flex;
  margin: 10px;
  width: 350px;
  height: 250px;
  padding: 10px; }

.imagenes-tortuga-4 img {
  display: flex;
  margin: 10px;
  width: 350px;
  height: 250px;
  padding: 10px; }

.imagenes-tortuga-5 img {
  display: flex;
  margin: 10px;
  width: 350px;
  height: 250px;
  padding: 10px; }

/* Estrategia Responsive = Mobile First */
@media (min-width: 1110px) {
  .seccion-tortugas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "imagenes-tortuga-1 imagenes-tortuga-2 imagenes-tortuga-3" "imagenes-tortuga-1 imagenes-tortuga-4 imagenes-tortuga-5"; } }

.gifs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }

main {
  min-height: 81.5vh; }
