.tp-gato {
    font-size: 30px;
    text-align: center;
    margin: auto;
    padding: 5px;
    width: auto;
    background-color: cadetblue;
    ;
}

.seccion-gatos {
    .div-gatos {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

}


.imagenes-gato-3 {
    img {
        @extend .css-imagenes;
    }
}

.imagenes-gato-4 {
    img {
        @extend .css-imagenes;
    }
}

.imagenes-gato-5 {
    img {
        @extend .css-imagenes;
    }
}



/* Estrategia Responsive = Mobile Last */

@media(max-width: 835px) {
    .seccion-gatos {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "imagenes-gato-1"
            "imagenes-gato-2"
            "imagenes-gato-3"
            "imagenes-gato-4"
            "imagenes-gato-5";

        div {
            flex-direction: column;
        }
    }
}